/* Masonry styling on projects page */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5em;
}

.masonry-wrapper {
  padding: 1.5em;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.masonry {
  columns: 1;
  column-gap: 15px;
}

.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {  .masonry {
    columns: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 3;
  }
}

.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}

.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}

.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.masonry-content {
  overflow: hidden;
}

.masonry-item {
  color: #111111;
  background-color: #f9f9f9;
}

.masonry-title, .masonry-description {
  margin: 0;
}

.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}

.masonry-description {
  padding: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid rgba(0, 0, 0, .05);
  line-height: 1.6;
}

/* Hover links in masonry */

.masonry-content .card-hover:before {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#fff;
    content:" ";
    opacity:0;
    transition:all .2s ease-out
}
.masonry-content .card-hover:after {
    display:block;
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    transform:translate(0,-50%);
    opacity:0;
    transition:all .2s ease-out;
    font-family:'font awesome 5 free';
    font-weight:900;
    content:'\f0c1';
    text-align:center;
    font-size:3rem;
    color:#666
}

.masonry-content:hover .card-hover:before {
    opacity:.8
}

.masonry-content:hover .card-hover:after {
    opacity:.6
}

.masonry-content .card-hover::before {
    background:#fff
}
